@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Fraunces', serif;
    line-height: 1.1em;
    font-size: 1.7rem;
    margin: 1rem 0;
}

h3{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

p{
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
}

body{
    background-color: hsl(30, 38%, 92%);
    min-height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vh 0;
}

main{
    background-color: hsl(0, 0%, 100%);
    width: 42%;
    display: flex;
    border-radius: 15px;
}

main .image{
    background: url(images/image-product-desktop.jpg);
    background-position: center;
    background-size: cover;
    width: 50%;
    min-height: 250px;
    border-radius: 10px 0 0 10px;
}

main .info{
    width: 50%;
    padding: 2rem;
}

.type{
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.price{
    color: hsl(158, 36%, 37%);
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.price p{
    text-decoration: line-through;
    padding-left: 1.4rem;
}

button{
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(212, 21%, 14%);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 0.7rem 1.3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

button svg{
    margin-right: 0.5rem;
}

button p{
    color: white;
    font-size: 12px;
}


 .attribution{ 
    font-size: 11px; text-align: center; 
}

.attribution a{ 
    color: hsl(228, 45%, 44%); 
}

@media(max-width: 1000px){
    main{
        width: 80%;
    }
    
    main .image{
        background: url(images/image-product-mobile.jpg);
        background-position: center;
        background-size: cover;
        
    }
    
    main .info{
        width: 50%;
        padding: 2rem;
    }
}

@media(max-width: 700px){
    main{
        flex-direction: column;
    }

    main .image{
        width: 100%;
        height: 200px;
        border-radius: 10px 10px 0 0;
    }

    main .info{
        width: 100%;
    }
}

@media(max-width: 400px){
    main{
        width: 90%;
    }
}